button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  pointer-events: none;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 8px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
ul {
  text-align: justify;
  padding-right: 8px;
  margin-left: -20px;
}

.rules-box {
  position: absolute;
  border: 1px solid rgb(140, 140, 140, 0.9);
  border-radius: 2px;
  box-shadow: 2px 3px 4px rgb(200, 200, 200, 0.5);
  width: 300px;
  right: 10px;
  top: 70px;
  font-size: 12px;
  padding: 4px;
}

.box-show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.box-hide {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}